<link rel="stylesheet" href="/css/login.css">

{{>navbar}}


<div class="modal-dialog text-center">
    <div class="col-5m-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="/img/userr.png" alt="">
            </div>

            <form class="col-12">
                <div class="form-group" id="user-group">
                    <input type="text" id="usuario" class="form-control" placeholder="Nombre de usuario">
                </div>
                <div class="form-group" id="password-group">
                    <input type="password" id="contrasena" class="form-control" placeholder="Contraseña">
                </div>


                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group" id="Nombre-group">

                            <input type="text" id="primernombre" class="form-control" placeholder="Primer nombre">
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class=" form-group" id="Nombre2-group">
                            <input type="text" id="segundonombre" class="form-control" placeholder="Segundo nombre">
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group" id="Apellido-group">
                            <input type="text" id="primerapellido" class="form-control" placeholder="Primer apellido">
                        </div>

                    </div>
                    <div class="col-sm-6" >
                                        <div class=" form-group" id="Apellido2-group">
                        <input type="text" id="segundoapellido" class="form-control" placeholder="Segundo apellido">
                    </div>
                </div>

        </div>





        <div class="form-group" id="correo-group">
            <input id="emailUser" type="text" class="form-control" placeholder="Ingrese su correo electronico ">
        </div>


        </form>
        <button onclick="agregarDatos()" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Registrar</button>
    </div>