<link rel="stylesheet" href="/css/briefcase.css">

<div class="briefcase">
    <div class="container-fluid  header-top d-none d-md-block"></div>
    <div class="container">
        <div class="row text-dark pt-2 pb-2">
            <div class="col-md-5"><i class="fa fa-envelope-o" aria-hidden="true"></i>

                <label id="emailUsuarioLogueadoLogin"></label>

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-2"><i class="fa fa-user-o" aria-hidden="true"></i> Cuenta</div>
            <div class="col-md-2"><i class="fa fa-cart-plus" aria-hidden="true"></i> Carrito - $0.00</div>
        </div>
    </div>
</div>

<div class=" container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Nuestro Portafolio</h2>
            <hr>
            <p class="text-justify">Somos una empresa que cuenta con más de 40 años de experiencia en el sector de
                la fabricación y
                diseño de mobiliario. Nuestras especialidades en este sector son el mueble de hogar y estancias de
                trabajo.</p>
            <p class="text-justify">Diseñar y realizar nos conduce a unas líneas, cada vez más, rectas y armónicas.
                Es por ello que
                ofrecemos un diseño visual y funcional en nuestros muebles, con un acabado limpio y robusto, todo
                ello gracias a la calidad, detalles y construcción que aportamos. Todo nuestro trabajo se encuentra
                enfocado a la vanguardia combinada con la comodidad del día a día.</p>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contactanos</h2>
            <hr>
            <address>
                <strong>Ofi-Muebles</strong>
                <br>Calle 22 6 e 03
                <br>B/Centro Florencia-Caqueta
                <br>
            </address>
            <address>
                <abbr title="Phone">Tel:</abbr>
                (322) 247-3072
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">ofimuebles@gmail.com</a>
            </address>
        </div>
    </div>



    <div class="container-fluid bg-light-gray">

        <div class="container pt-5">

            <div class="row">
                <h3>COMEDORES</h3>
            </div>
            <div class="row">
                <div class="underline"></div>

            </div>
        </div>



        <div class="container mt-5">
            <div class="row" id="getdiningroom">
                <div class="col-md-3">
                    <div class="card">
                        <img src="" alt="card-1" class="card-img-top">
                        <div class="card-body">
                            <h5></h5>
                            <h6>$ </h6>
                            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i>
                                Comprar</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>



        <div class="container mt-5">

            <div class="row">
                <h3>SALAS</h3>
            </div>
            <div class="row">
                <div class="underline"></div>
            </div>
        </div>


        <div class="container mt-5 pb-5">
            <div class="row" id="getroom">
                <div class="col-md-3">
                    <div class="card">
                        <img src="${doc.data().linkImagen}" alt="card-1" class="card-img-top">
                        <div class="card-body">
                            <h5>${doc.data().name}</h5>
                            <h6>$ ${doc.data().price}</h6>
                            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i>
                                Comprar</button>
                        </div>
                    </div>
                </div>





            </div>
        </div>

        <div class="container mt-5">

            <div class="row">
                <h3>ALCOBAS</h3>
            </div>
            <div class="row">
                <div class="underline"></div>
            </div>
        </div>


        <div class="container mt-5 pb-5">
            <div class="row" id="bedroom">


                <div class="col-md-3">
                    <div class="card">
                        <img src="${doc.data().linkImagen}" alt="card-1" class="card-img-top">
                        <div class="card-body">
                            <h5>${doc.data().name}</h5>
                            <h6>$ ${doc.data().price}</h6>
                            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                                Cart</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>


        <div class="container-fluid pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <h4>OFICINA</h4>
                        </div>
                        <div class="row">
                            <div class="underline-green"></div>
                        </div>
                        <div id="office">
                            <img src="${doc.data().linkImagen}" class="img-fluid mr-3 w-50" alt="media1">
                            <div class="media-body mt-2">
                                <h5>${doc.data().name}</h5>
                                <h6>$ ${doc.data().price}</h6>
                                <button class="btn btn-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add
                                    To Cart</button>
                            </div>



                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <h4>DECORACION</h4>
                        </div>
                        <div class="row">
                            <div class="underline-blue"></div>
                        </div>
                        <div id="decoration">
                            <img src="${doc.data().linkImagen}" class="img-fluid mr-3 w-50" alt="media1">
                            <div class="media-body mt-2">
                                <h5>${doc.data().name}</h5>
                                <h6>$ ${doc.data().price}</h6>
                                <button class="btn btn-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add
                                    To Cart</button>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="row">
                            <h4>SILLAS</h4>
                        </div>
                        <div class="row">
                            <div class="underline-black">

                            </div>
                        </div>
                        <div id="chair">
                            <img src="${doc.data().linkImagen}" class="img-fluid mr-3 w-50" alt="media1">
                            <div class="media-body mt-2">
                                <h5>${doc.data().name}</h5>
                                <h6>$ ${doc.data().price}</h6>
                                <button class="btn btn-success"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add
                                    To Cart</button>
                            </div>

                        </div>


                    </div>
                </div>
            </div>


        </div>



        <div class="container-fluid bg-light-gray pt-5 pb-5">

            <div class="container mt-0">
                <div class="row">
                    <h4>OTRO</h4>
                </div>
                <div class="row">
                    <div class="underline"></div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="" class="card-img-top">
                            <div class="card-body">
                                <h4>OTRO</h4>
                                <h6>$67.87</h6>
                                <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <img src="" class="card-img-top">
                            <div class="card-body">
                                <h4>OTRO</h4>
                                <h6>$67.87</h6>
                                <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <img src="" class="card-img-top">
                            <div class="card-body">
                                <h4>OTRO</h4>
                                <h6>$67.87</h6>
                                <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <img src="" class="card-img-top">
                            <div class="card-body">
                                <h4>OTRO</h4>
                                <h6>$67.87</h6>
                                <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To
                                    Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>







        </div>
    </div>
</div>