<div id="sidebar-container" class="bg-dark">
    <div class="logo">
        <h4 class="text-light font-weight-bold mb-0">Ofi-muebles</h4>
    </div>
    <div class="menu">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link active" id="v-pills-products-tab" data-toggle="pill" href="#v-pills-products"
                        role="tab" aria-controls="v-pills-products" aria-selected="true"><i
                            class="icon ion-md-apps lead mr-2"></i> Agregar Productos
                    </a>

                    <a class="nav-link" id="v-pills-product-tab" data-toggle="pill" href="#v-pills-listproduct"
                        role="tab" aria-controls="v-pills-listproduct" aria-selected="false" onclick="Listproducts()"><i
                            class="icon ion-md-people lead mr-2"></i>Listar
                        Productos
                    </a>

                    <a class="nav-link" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab"
                        aria-controls="v-pills-users" aria-selected="false" onclick=""><i
                            class="icon ion-md-people lead mr-2"></i>Listar
                        Usuarios
                    </a>

                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                        aria-controls="v-pills-settings" aria-selected="false"><i
                            class="icon ion-md-stats lead mr-2"></i>Estadisticas
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>