:root {
    --primary: #838383;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    width: 100%;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-mix {
    background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0);
}

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#content {
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

.menu {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    max-width: 80px;
}

.logo {
    margin-top: 26px;
    margin-left: 25px;
}

.tab-content {
    margin-top: 40px;
}

#sidebar-container {
    width: 330px;
}

.custom-file-label {
    width: 200px;
    margin-right: 12px;
}

#inputGroupFileAddon04 {
    width: 150px;
    margin-left: 207px;
}

.nav {
    width: 220px;
}

.table {
    margin-top: 20px;
}

#v-pills-settings-tab {
    display: block;
    padding: -0.5rem 0rem;
}

@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }
    .stat {
        border: 0;
    }
}