@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  padding-top: 34px;
}

.container-carrousel {
  margin-top: 35px;
}

.header {
  margin-top: 0;
}

.footer {
  width: 100%;
}