<link rel="stylesheet" href="/css/admin.css">

<body id="body">
    <div class="container-admin d-flex" id="content-wrapper">
        {{>sidebar}}

        <div class="w-100">

            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light
          border-bottom">
                <div class="container">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="emailUsuarioLogueado"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../img/user-1.png" class="img-fluid rounded-circle avatar mr-2" />

                                    <label id="emailUsuarioLogueado"></label>


                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" onclick="cerrarSesion()" href="#">Cerrar
                                        sesión</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fin Navbar -->

            <!-- Page Content -->
            <div id="content" class="bg-grey w-100">

                <section class="bg-light py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 col-md-8">
                                <h1 class="font-weight-bold mb-0">Bienvenido </h1>
                            </div>
                        </div>
                    </div>
                </section>


                <section>

                    <div class="col-9">
                        <!-- AGREGAR PRODUCTOS 
              
              
              -->
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-products" role="tabpanel"
                                aria-labelledby="v-pills-products">
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label for="nameproduct">Nombre Producto</label>
                                            <input id="nameproduct" type="text" class="form-control" value="" required>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="priceproduct">Precio</label>
                                            <input id="priceproduct" type="number" class="form-control" value=""
                                                required>
                                        </div>
                                    </div>
                                    <div class="form-row">

                                        <div class="col-md-3 mb-3">
                                            <label for="categoryproduct">Categoria</label>
                                            <select class="custom-select" id="categoryproduct" required>
                                                <option selected disabled value="">...</option>
                                                <option>COMEDORES</option>
                                                <option>SALAS</option>
                                                <option>ALCOBAS</option>
                                                <option>OFICINA</option>
                                                <option>DECORACION</option>
                                                <option>SILLAS</option>
                                                <option>OTRO</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <div class="form-group">
                                                <label for="photoproduct">Foto Producto</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" id="archivo"
                                                            name="archivo" aria-describedby="inputGroupFileAddon04">
                                                        <label class="custom-file-label" for="inputGroupFile04">Elegir
                                                            imagen</label>

                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button"
                                                                id="inputGroupFileAddon04" onclick="subirImagen()">subir
                                                                Imagen
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                                <button id="addproduct" onclick="saveproducts()" class="btn
                    btn-primary d-none">Agregar
                                    Producto</button>
                                <img src="" alt="" name="imgSubida" id="imgSubida">
                            </div>


                            <!-- LISTAR PRODUCTOS -->

                            <div class="tab-pane fade" id="v-pills-listproduct" role="tabpanel"
                                aria-labelledby="v-pills-product-tab">
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre Producto</th>
                                            <th>Precio Producto</th>
                                            <th>Categoria Producto</th>
                                        </tr>
                                    </thead>
                                    <button type="button" class="btn btn-primary openBtn" data-toggle="modal"
                                        onclick="window.location.href = '/views/portafolio.html'">
                                        ir al portafolio
                                    </button>
                                    <input class="d-none" type="text" id="id">
                                    <tbody id="listproducts">


                                    </tbody>
                                </table>




                                <div class="modal fade" id="edit" tabindex="-1" role="dialog"
                                    aria-labelledby="editarLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editLabel">Actualizar
                                                    Datos</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <form id="addproducts">
                                                    <div class="form-row">
                                                        <div class="col-md-12 mb-3">
                                                            <label for="nameproduct1">Nombre Producto</label>
                                                            <input id="nameproduct1" type="text" class="form-control"
                                                                value="" required>
                                                        </div>
                                                        <div class="col-md-12 mb-3">
                                                            <label for="priceproduct1">Precio</label>
                                                            <input id="priceproduct1" type="number" class="form-control"
                                                                value="" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">

                                                        <div class="col-md-12 mb-3">
                                                            <label for="categoryproduct1">Categoria</label>
                                                            <select class="custom-select" id="categoryproduct1"
                                                                required>
                                                                <option selected disabled value="">...</option>
                                                                <option>COMEDORES</option>
                                                                <option>SALAS</option>
                                                                <option>ALCOBAS</option>
                                                                <option>OFICINA</option>
                                                                <option>DECORACION</option>
                                                                <option>SILLAS</option>
                                                                <option>OTRO</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <label for="photoproduct1">Foto Producto</label>
                                                                <div class="input-group">
                                                                    <div class="custom-file">
                                                                        <input type="file" class="custom-file-input"
                                                                            id="archivo1" name="archivo1"
                                                                            aria-describedby="inputGroupFileAddon0">
                                                                        <label class="custom-file-label"
                                                                            for="inputGroupFile04">Elegir imagen</label>
                                                                    </div>
                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary"
                                                                            type="button" id="inputGroupFileAddon0"
                                                                            onclick="subirImagen()">subir
                                                                            Imagen</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                    onclick="act()">confirmar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                </section>
            </div>

        </div>
    </div>
</body>