<link rel="stylesheet" href="/css/login.css">
{{>navbar}}


<div class="modal-dialog text-center">

    <div class="col-5m-8 main-section">

        <div class="modal-content">

            <div class="col-12 user-img">
                <img src="../img/userr.png" alt="">
            </div>

            <div class="login">

                <div class="form-group" id="user-group">
                    <input id="emailUser" type="email" class="form-control" placeholder="Nombre de usuario">
                </div>

                <div class="form-group" id="password-group">
                    <input id="passUser" type="password" class="form-control" placeholder="Contraseña">
                </div>

                <div class="col-12 forgot">
                    <button onclick="login()" type="button" class="btn btn-success"><i class="fas fa-user-edit"></i>
                        Login</button>

                    <a href="#">Recordar contraseña</a>
                </div>

            </div>

        </div>

    </div>

</div>